---
import Experience from '../components/experience.astro';
import HelperMenu from '../components/helper-menu.astro';
import Hero from '../components/hero.astro';
import '../styles/reset.css';
import '../styles/fonts.css';

import Separator from '../components/separator.astro';
import Projects from '../components/projects.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gidole&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Glitch&family=Syne+Mono&display=swap"
      rel="stylesheet"
    />
    <title>Fran Vento</title>
  </head>
  <body>
    <div style="position: relative; margin-bottom: -100vh;">
      <div style="position:sticky; top:0; z-index:0;">
        <Hero />
      </div>
      <div style="height: 100vh; width: 100%; "></div>
    </div>
    <div
      style="position: relative; z-index: 1; background-color: white; border-radius: 20px 20px 0 0;"
    >
      <Separator />
    </div>
    <Experience />
    <Projects />

    <HelperMenu />
  </body>
</html>
