---
import Experience from '../components/experience.astro';
import HelperMenu from '../components/helper-menu.astro';
import Hero from '../components/hero.astro';
import '../styles/reset.css';
import '../styles/fonts.css';

import Separator from '../components/separator.astro';

import RecentWork from '../components/recent-work.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Full Stack Developer portfolio focused on Frontend development with React, Next.js, Tailwind CSS, and modern animations using GSAP. Explore real-world projects and clean UI design."
    />
    <meta
      name="keywords"
      content="Francisco Vento, Full Stack Developer, React, Next.js, Tailwind CSS, GSAP"
    />
    <meta name="author" content="Francisco Vento" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gidole&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Glitch&family=Syne+Mono&display=swap"
      rel="stylesheet"
    />
    <title>Francisco Vento - Full Stack Developer</title>
  </head>
  <body>
    <div style="position: relative; margin-bottom: -100vh;">
      <div style="position:sticky; top:0; z-index:0;">
        <Hero />
      </div>
      <div style="height: 100vh; width: 100%; "></div>
    </div>
    <div
      style="position: relative; z-index: 1; background-color: white; border-radius: 20px 20px 0 0;"
    >
      <Separator />
    </div>
    <Experience />
    <RecentWork />
    <HelperMenu />
  </body>
</html>
