---

---

<section class="education">
  <div class="app-wrapper">
    <h2>Education</h2>
  </div>
</section>

<style>
  .education {
    padding: 100px 0;
    h2 {
      font-size: 120px;
    }
  }
</style>
