---
import ProjectCard, { type CardProjectProps } from './cards/ProjectCard.astro';

const projects: CardProjectProps[] = [
  {
    title: 'Certiwise',
    role: 'Front End Developer',
    description:
      'Certiwise is a platform that allows you to create, manage and design your certifications.',
    technologies: [
      'React',
      'TypeScript',
      'Tailwind CSS',
      'NextJs',
      'Cypress',
      'React Canvas',
      'SWR',
    ],
    image: '/assets/company-logos/certiwise.svg',
    link: 'https://certiwise.co',
    linkText: 'certiwise.co',
    color: '#fff',
  },
  {
    title: 'Academlo',
    role: 'Front End Lead',
    description:
      'Academlo is a platform that allows you to learn and improve your skills on web development.',
    technologies: ['React', 'TypeScript', 'Tailwind CSS', 'Next Js', 'Auth0'],
    image: '/assets/company-logos/academlo.svg',
    link: 'https://academlo.com',
    linkText: 'academlo.com',
    color: '#fff',
  },

  {
    title: 'Barbadens',
    role: 'Full Stack Developer',
    description:
      'E-commerce for selling custom made shirts, this platforms allows to create and shop your custom design.',
    technologies: ['Supabase', 'NextJs', 'PostgresSQL', 'React', 'TypeScript', 'Tailwind CSS'],
    image: '/assets/company-logos/barbadens.svg',
    link: 'https://barbadens.com',
    linkText: 'barbadens.com',
    color: '#fff',
  },
  {
    title: 'Ancora',
    role: 'Front End Developer',
    description:
      'Ancora is one of the largest insurance companies in Mexico and Spain. In this project, I was responsible for translating the design made in Figma into their new corporate website."',
    technologies: ['Astro', 'React', 'TypeScript', 'Tailwind CSS', 'Netlify'],
    image: '/assets/company-logos/ancora.png',
    link: 'https://ancora.com',
    linkText: 'ancora.com',
    color: '#fff',
  },
  {
    title: 'Recoco',
    role: 'Full Stack Developer',
    description:
      'Platform created for students of the University of Buenos Aires. It allows users to rate university courses, leave comments, like other users’ feedback, and create new subjects or courses.',
    technologies: ['Supabase', 'NestJs', 'Node', 'TypeScript', 'Tailwind CSS', 'Next JS'],
    image: '/assets/company-logos/recoco.svg',
    link: 'https://recoco.netlify.app/',
    linkText: 'recoco.com',
    color: '#fff',
  },

  {
    title: 'Sullair DAM',
    role: 'Front End Developer',
    description:
      'Platform for managing digital assets for the company Sullair Argentina. It allows users to upload, tag, share, and download all types of files.',
    technologies: ['React Query', 'NextJs', 'Tailwind CSS', 'Zustand', 'React Hook Form'],
    image: '/assets/company-logos/sullair-go.svg',
    link: 'https://sullair-dam.egodesign.dev',
    linkText: 'sullairdam.com',
    color: '#fff',
  },
  {
    title: 'Gran Apple Tours',
    role: 'Full Stack Developer',
    description:
      'Gran Apple Tours is a web platform where users can explore the latest tours, make reservations, schedule experiences, and stay up to date with the latest news and events in New York City through its integrated blog.',
    technologies: ['Wordpress', 'Elementor', 'SEO', 'Google Analytics', 'Google Search Console'],
    image: '/assets/company-logos/granappletours.png',
    link: 'https://granappletours.com',
    linkText: 'granappletours.com',
    color: '#fff',
  },
  {
    title: 'Sullair',
    role: 'Front End Developer',
    description:
      'Corporate website for Sullair Argentina, designed to showcase the companys products, services, and industrial solutions with a modern and professional online presence.',
    technologies: ['Wagtail', 'Html', 'CSS', 'Javascript'],
    image: '/assets/company-logos/sullair.png',
    link: 'https://sullair.com',
    linkText: 'sullair.com',
    color: '#fff',
  },
];
---

<section class="projects">
  <div class="app-wrapper">
    <div class="projects__cards">
      {projects.map((project) => <ProjectCard {...project} />)}
    </div>
  </div>
</section>
<style>
  .projects {
    padding: 100px 40px;

    .projects__cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      gap: 20px;
    }
  }
</style>
