---
import ProjectCard, { type ProjectCardProps } from './cards/ProjectCard.astro';
import academlo from '../assets/projects/academlo.png';
import smartnest from '../assets/projects/smartnest.png';
import academloplus from '../assets/projects/academlo plus.png';
import certiwise from '../assets/projects/certiwise.png';
import barbadens from '../assets/projects/barbadens.png';
import recoco from '../assets/projects/recoco.png';
import sullair from '../assets/projects/sullair.png';

const projects: ProjectCardProps[] = [
  {
    companyName: 'Academlo',
    companyUrl: 'https://www.academlo.com/',
    projectImage: academlo,
  },
  {
    companyName: 'Smart Nest',
    companyUrl: 'https://smartnestrepair.com/',
    projectImage: smartnest,
  },
  {
    companyName: 'Certiwise',
    companyUrl: 'https://certiwise.co/',
    projectImage: certiwise,
  },
  // {
  //   companyName: 'Academlo +',
  //   companyUrl: 'https://class-center.academlo.com',
  //   projectImage: academloplus,
  // },
  {
    companyName: 'Barbadens',
    companyUrl: 'https://app.barbadens.com/create',
    projectImage: barbadens,
  },

  {
    companyName: 'Recoco',
    companyUrl: 'https://recoco.netlify.app/uba/carreras/1',
    projectImage: recoco,
  },
  {
    companyName: 'Sullair',
    companyUrl: 'https://sullair-dam.egodesign.dev/dashboard',
    projectImage: sullair,
  },
];
---

<section class="recent-work app-wrapper">
  <h2 class="recent-work__title">My recent projects</h2>
  <div class="recent-work--container">
    {
      projects.map((item) => {
        return (
          <div class="recent-work--item">
            <ProjectCard {...item} />
          </div>
        );
      })
    }
  </div>
</section>
<style>
  .recent-work {
    min-height: 100vh;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    gap: 40px;
    color: #212121;
    .recent-work__title {
      font-size: 40px;
      font-family: 'Bebas Neue', sans-serif;
      text-align: center;
    }
    .recent-work--container {
      position: relative;
      height: 70vh;
      .recent-work--item {
        position: absolute;

        inset: 0;
        opacity: 0;

        transform: translateY(100%);
      }
    }
  }

  @media (min-width: 768px) {
    .recent-work {
      .recent-work__title {
        font-size: 90px;
      }
    }
  }
</style>
<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  gsap.registerPlugin(ScrollTrigger);
  const items = gsap.utils.toArray(`.recent-work--item`) as HTMLElement[];

  const tl = gsap.timeline({
    defaults: {
      ease: 'power1.in',
      scrollTrigger: {
        trigger: `.recent-work`,
        pin: `.recent-work`,
        start: 'top top',
        end: `+=${items.length * 80}%`,
        scrub: 3,
        invalidateOnRefresh: true,
      },
    },
  });

  tl.to(items, {
    y: (index) => `${(index + 1) * 2}%`,
    opacity: 1,
    stagger: 1,
    rotate: (index) => (index % 2 === 1 ? -1 : 1),
    // scale: (index) => 1 - (index + 1) * 0.01,
  });
  // tl.set({}, {}, '+=1');
</script>
