<section class="separator">
  <h2 class="app-wrapper">
    Developed and maintained frontend architecture using Next.js and TypeScript,ensuring scalability
    and code consistency.
  </h2>
</section>
<style>
  .separator {
    font-family: 'Bebas Neue', sans-serif;
    width: 100%;
    height: 600px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 28px;
      text-align: center;
    }
  }

  @media (min-width: 768px) {
    .separator {
      h2 {
        font-size: 40px;
      }
    }
  }
</style>
